<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datamacy.colduser.dao.SysUserTokenEntityMapper">
  <resultMap id="BaseResultMap" type="com.datamacy.common.user.entity.SysUserTokenEntity">
    <id column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="expire_time" jdbcType="DATE" property="expire_time" />
    <result column="update_time" jdbcType="DATE" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, token, expire_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_token
    where user_id = #{user_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user_token
    where user_id = #{user_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.datamacy.common.user.entity.SysUserTokenEntity">
    insert into sys_user_token (user_id, token, expire_time, 
      update_time)
    values (#{user_id,jdbcType=BIGINT}, #{token,jdbcType=VARCHAR}, #{expire_time,jdbcType=DATE}, 
      #{update_time,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.datamacy.common.user.entity.SysUserTokenEntity">
    insert into sys_user_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        user_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="expire_time != null">
        expire_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="expire_time != null">
        #{expire_time,jdbcType=DATE},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.datamacy.common.user.entity.SysUserTokenEntity">
    update sys_user_token
    <set>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="expire_time != null">
        expire_time = #{expire_time,jdbcType=DATE},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=DATE},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.datamacy.common.user.entity.SysUserTokenEntity">
    update sys_user_token
    set token = #{token,jdbcType=VARCHAR},
      expire_time = #{expire_time,jdbcType=DATE},
      update_time = #{update_time,jdbcType=DATE}
    where user_id = #{user_id,jdbcType=BIGINT}
  </update>
  <select id="queryByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user_token
    where token = #{token,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByToken" parameterType="java.lang.String">
    delete from sys_user_token
    where token = #{token,jdbcType=VARCHAR}
  </delete>

</mapper>