<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datamacy.coldadmin.dao.MeterEntityMapper">
  <resultMap id="BaseResultMap" type="com.datamacy.common.admin.entity.MeterEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="meterCode" jdbcType="VARCHAR" property="meterCode" />
    <result column="meterName" jdbcType="VARCHAR" property="meterName" />
    <result column="hostId" jdbcType="VARCHAR" property="hostId" />
    <result column="hostCode" jdbcType="VARCHAR" property="hostCode" />
    <result column="hostName" jdbcType="VARCHAR" property="hostName" />
    <result column="houseId" jdbcType="VARCHAR" property="houseId" />
    <result column="houseCode" jdbcType="VARCHAR" property="houseCode" />
    <result column="houseName" jdbcType="VARCHAR" property="houseName" />
    <result column="companyId" jdbcType="VARCHAR" property="companyId" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="meterStatus" jdbcType="INTEGER" property="meterStatus" />
    <result column="maxTem" jdbcType="INTEGER" property="maxTem" />
    <result column="minTem" jdbcType="INTEGER" property="minTem" />
    <result column="maxHum" jdbcType="INTEGER" property="maxHum" />
    <result column="minHum" jdbcType="INTEGER" property="minHum" />
    <result column="meterInterval" jdbcType="INTEGER" property="meterInterval" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, meterCode, meterName, hostId, hostCode, hostName, houseId, houseCode, houseName, 
    companyId, companyName, meterStatus, maxTem, minTem, maxHum, minHum, meterInterval, 
    remarks, createdTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cz_meter
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cz_meter
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.datamacy.common.admin.entity.MeterEntity">
    insert into cz_meter (id, meterCode, meterName, 
      hostId, hostCode, hostName, 
      houseId, houseCode, houseName, 
      companyId, companyName, meterStatus, 
      maxTem, minTem, maxHum, 
      minHum, meterInterval, remarks, 
      createdTime, updateTime)
    values (#{id,jdbcType=VARCHAR}, #{meterCode,jdbcType=VARCHAR}, #{meterName,jdbcType=VARCHAR}, 
      #{hostId,jdbcType=VARCHAR}, #{hostCode,jdbcType=VARCHAR}, #{hostName,jdbcType=VARCHAR}, 
      #{houseId,jdbcType=VARCHAR}, #{houseCode,jdbcType=VARCHAR}, #{houseName,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{meterStatus,jdbcType=INTEGER}, 
      #{maxTem,jdbcType=INTEGER}, #{minTem,jdbcType=INTEGER}, #{maxHum,jdbcType=INTEGER}, 
      #{minHum,jdbcType=INTEGER}, #{meterInterval,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.datamacy.common.admin.entity.MeterEntity">
    insert into cz_meter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meterCode != null">
        meterCode,
      </if>
      <if test="meterName != null">
        meterName,
      </if>
      <if test="hostId != null">
        hostId,
      </if>
      <if test="hostCode != null">
        hostCode,
      </if>
      <if test="hostName != null">
        hostName,
      </if>
      <if test="houseId != null">
        houseId,
      </if>
      <if test="houseCode != null">
        houseCode,
      </if>
      <if test="houseName != null">
        houseName,
      </if>
      <if test="companyId != null">
        companyId,
      </if>
      <if test="companyName != null">
        companyName,
      </if>
      <if test="meterStatus != null">
        meterStatus,
      </if>
      <if test="maxTem != null">
        maxTem,
      </if>
      <if test="minTem != null">
        minTem,
      </if>
      <if test="maxHum != null">
        maxHum,
      </if>
      <if test="minHum != null">
        minHum,
      </if>
      <if test="meterInterval != null">
        meterInterval,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createdTime != null">
        createdTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="meterCode != null">
        #{meterCode,jdbcType=VARCHAR},
      </if>
      <if test="meterName != null">
        #{meterName,jdbcType=VARCHAR},
      </if>
      <if test="hostId != null">
        #{hostId,jdbcType=VARCHAR},
      </if>
      <if test="hostCode != null">
        #{hostCode,jdbcType=VARCHAR},
      </if>
      <if test="hostName != null">
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="houseCode != null">
        #{houseCode,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null">
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="meterStatus != null">
        #{meterStatus,jdbcType=INTEGER},
      </if>
      <if test="maxTem != null">
        #{maxTem,jdbcType=INTEGER},
      </if>
      <if test="minTem != null">
        #{minTem,jdbcType=INTEGER},
      </if>
      <if test="maxHum != null">
        #{maxHum,jdbcType=INTEGER},
      </if>
      <if test="minHum != null">
        #{minHum,jdbcType=INTEGER},
      </if>
      <if test="meterInterval != null">
        #{meterInterval,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.datamacy.common.admin.entity.MeterEntity">
    update cz_meter
    <set>
      <if test="meterCode != null">
        meterCode = #{meterCode,jdbcType=VARCHAR},
      </if>
      <if test="meterName != null">
        meterName = #{meterName,jdbcType=VARCHAR},
      </if>
      <if test="hostId != null">
        hostId = #{hostId,jdbcType=VARCHAR},
      </if>
      <if test="hostCode != null">
        hostCode = #{hostCode,jdbcType=VARCHAR},
      </if>
      <if test="hostName != null">
        hostName = #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        houseId = #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="houseCode != null">
        houseCode = #{houseCode,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null">
        houseName = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        companyId = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="meterStatus != null">
        meterStatus = #{meterStatus,jdbcType=INTEGER},
      </if>
      <if test="maxTem != null">
        maxTem = #{maxTem,jdbcType=INTEGER},
      </if>
      <if test="minTem != null">
        minTem = #{minTem,jdbcType=INTEGER},
      </if>
      <if test="maxHum != null">
        maxHum = #{maxHum,jdbcType=INTEGER},
      </if>
      <if test="minHum != null">
        minHum = #{minHum,jdbcType=INTEGER},
      </if>
      <if test="meterInterval != null">
        meterInterval = #{meterInterval,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        createdTime = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.datamacy.common.admin.entity.MeterEntity">
    update cz_meter
    set meterCode = #{meterCode,jdbcType=VARCHAR},
      meterName = #{meterName,jdbcType=VARCHAR},
      hostId = #{hostId,jdbcType=VARCHAR},
      hostCode = #{hostCode,jdbcType=VARCHAR},
      hostName = #{hostName,jdbcType=VARCHAR},
      houseId = #{houseId,jdbcType=VARCHAR},
      houseCode = #{houseCode,jdbcType=VARCHAR},
      houseName = #{houseName,jdbcType=VARCHAR},
      companyId = #{companyId,jdbcType=VARCHAR},
      companyName = #{companyName,jdbcType=VARCHAR},
      meterStatus = #{meterStatus,jdbcType=INTEGER},
      maxTem = #{maxTem,jdbcType=INTEGER},
      minTem = #{minTem,jdbcType=INTEGER},
      maxHum = #{maxHum,jdbcType=INTEGER},
      minHum = #{minHum,jdbcType=INTEGER},
      meterInterval = #{meterInterval,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      createdTime = #{createdTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>